* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* margin: auto; */
}
.board {
  width: 90vh;
  height: 90vh;
  background-color: rgb(27, 27, 28);
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(20, 1fr);
  border: 1px solid rgb(46, 45, 45);
  margin:5px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(34, 32, 32);
}
.cell{
  margin: auto;
  border-radius: 30%;
}
.cell,
.food {
  /* border-radius: 50%; */
  background-color: rgb(245, 52, 52);
  border: 0.25vmin solid rgb(218, 188, 184);
  width: 4.5vmin;
  height: 4.5vmin;
}
.food {
  background-color: rgb(77, 245, 144);
  border-radius: 10px;
}
li{
  color: teal;
  font-weight: 400;
  font-size: 2rem;
}
